### Configs
app/config/config.ini
app/config/config.ini.working
app/config/config.ini.prod
app/config/Config.php
app/config/Config.php.prod
app/config/Config.php.working
### Scripts
/gitfame.sh
### Log files
*.log
### Mac OS
.DS_Store
### JS
node_modules/
dist/
apidoc/apidoc-template/
### Composer
/vendor/
### Sass
.sass-cache/
*.css.map
### Phalcon
/system/cache/volt/*
/system/cache/github/*
/system/errors
/system/log/application
/system/log/cli
/system/log/common
/system/log/error
/system/log/errors
/config/development/
### JetBrains
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
### Node template
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
public/webtools.config.php
public/webtools.php
public/css/webtools.css
public/js/webtools-ie.js
public/js/webtools.js

# dist
system/uploads/client-images/*.j*
system/uploads/client-images/*.png
system/uploads/client-images/*.gif
system/uploads/share-images/comments/*.jpeg
system/uploads/share-images/comments/*.png
system/uploads/share-images/posts/*.jpeg
system/uploads/share-images/posts/*.png
system/uploads/user-images/*.j*
system/uploads/user-images/*.png
system/uploads/user-images/*.gif
system/uploads/blog-images/*.j*
system/uploads/blog-images/*.png
system/uploads/blog-images/*.gif
system/uploads/blog-images/100
system/uploads/blog-images/80
system/uploads/blog-images/165
system/uploads/blog-images/200
system/uploads/blog-images/400
system/uploads/blog-images/665
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
system/log/queue-table
system/log/queue-wallet
application.iml
bin/phantomjs
bin/jp.php
bin/phalcon.php
bin/php-parse
bin/phpunit
bin/psysh
bin/sentry
bin/pdepend
bin/phpmd
system/uploads/images
system/uploads/userimages
system/uploads/product-images
system/cache/feeds/*
public/sitemaps/sitemap-index.xml
public/sitemaps/sitemap.xml
system/queue/user-activity/
bernard.meta
system/uploads/feed-images
system/queue
bin/fetch-mf2
bin/parse
bin/phpmd
bin/phpcs
bin/phpcbf
bin/algolia-doctor
bin/var-dump-server
bin/parse-mf2
bin/update-psl
.phpunit.result.cache
system/cache/lastdeploy
/bin/codecept
/bin/phalcon
/bin/phalcon-migrations
/bin/yaml-lint
/.idea/framework.iml
/.idea/php.xml
/.idea/phpunit.xml
/composer.phar
