[database]
adapter = Mysql
host = "_MYSQL_HOST_"
port = _MYSQL_PORT
username = "_MYSQL_USER"
password = "_MYSQL_PASS"
dbname = "rarelytics"

[application]
controllersDir = "app/Controller/"
modelsDir = "app/Model/Abstracts/"
viewsDir = "app/Views/"
baseUri = "/"

[migration]
migrations = "app/migrations"
